<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chivalrous.sdk">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.PigChivalrous"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="com.chivalrous.sdk.app.GlobalConfiguration"
            android:value="ConfigModule" />
    </application>
</manifest>